@import url(https://fonts.google.com/specimen/Cutive+Mono?category=Monospace&preview.text_type=custom#standard-styles);

body
{
    background-color: darkred;
}

.contenedor
{
    display: flex;
    background-image: url(https://i.pinimg.com/564x/a1/44/84/a14484c78f2dd59372f88a7786cbfaf2.jpg);
    background-position: center;
    justify-content: center;
    border-radius: 3%;
    height: 300px;
    width: 500px;
    margin: auto;
    filter: invert(100%);
}

.footsign
{
  font-family: 'Major Mono Display';
  text-align: center;
  font-size: 78%;
  margin:267px auto;
  border-radius: 10px;
  color: rgb(243, 240, 235);
}   

.Nvn
{
  text-decoration: line-through;
  color: inherit;
}

.logo
{
    border-radius: 15px;
    display: flex;
    background-image: url(../images/logo.jpeg);
    background-position: center;
    margin: -280px auto;
    justify-content: center;
    position: relative;
    width: 7%;
    height: 100px;
    background-size: 120%;
    padding: 30px 23px; 
}

strong {
  color: inherit;
  font-weight: bold;
  font-style: italic;
}


.eslogan
{
    border-radius: 10px;
    font-family: 'Arial';
    background-image: url(https://i.pinimg.com/564x/6c/4a/23/6c4a234ad2ebc051945192fcf124ff17.jpg);
    background-size: cover;
    font-size: 12px;
    font-weight: 900;
    display: flex;
    margin: 286px auto;
    justify-content: center;
    position: relative;
    color:floralwhite;
    width: max-content;
    padding: 5px;
    text-align: center;
    background-size: 94%;
    background-position-x: center;
    background-position-y: -42px;
    filter: invert(100%);
}

@font-face {
  font-family: "Mephisto";
  src: url("//https://www.dafont.com/es/mephisto.font") format("truetype");
}